// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

@font-face {
  font-family: "Alliance";
  src: url('~assets/fonts/AllianceNo1-Regular.ttf') format("truetype");
}

$body-font-family: url('~assets/fonts/AllianceNo1-Regular.ttf');

@import '~vuetify/src/styles/styles.sass';
